---
title: Cylon.js Tutorials
author: The Hybrid Group
page_title: Generating a New Adaptor
page_subtitle: Made by Humans, for Humans.
layout: page
---
%small.breadcrumb
  = link_to "Documentation", "/documentation"
  \/ 
  = link_to "Tutorials", "/documentation/tutorials" 
  \/ Generating a New Adaptor

%section.app-code
  %h2 Generator
  %p Want to integrate a hardware device we don't have Cylon support for yet? There's a generator for that!
  %p You can easily generate a new skeleton Cylon adaptor to help you get started. Simply run the cylon generate command, and the generator will create a new directory with all of the files in place for your new adaptor module.
  :markdown
        :::bash
        $ cylon generate awesome_device
    	Creating cylon-awesome_device adaptor.
    	Compiling templates.

    	$ ls ./cylon-awesome_device
    	Gruntfile.js
    	LICENSE
    	README.md
    	dist/
    	package.json
    	src/
    	test/ 


