---
title: Cylon.js Tutorials
author: The Hybrid Group
page_title: Hello World
page_subtitle: Made by Humans, for Humans.
layout: page
---

%small.breadcrumb
  = link_to "Documentation", "/documentation"
  \/ 
  = link_to "Tutorials", "/documentation/tutorials" 
  \/ Hello World

%section.app-code
  %h3 Example: Hello
  %h4 JavaScript
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'looped', adaptor: 'loopback'},

          work: function() {
            every((1).second(), function() { Logger.info("Hello, human!"); });
          }
        }).start();

  %h4 CoffeeScript
  :markdown
        :::javascript
        Cylon = require 'cylon'

        Cylon.robot
          work: ->
            every 1.second(), ->
              Logger.info("Hello, human!")

        .start()