---
title: Analog Sensor with Cylon.js
author: The Hybrid Group
page_title: Analog Sensor
page_subtitle: "You can find the example here: <a href='https://github.com/hybridgroup/cylon/blob/literate/examples/analog_sensor/analog_sensor.litcoffee' target='blanck' class='repository'>litcoffee</a>"
layout: page
---

.documentation
  %section.intro
    %h1 Analog Sensor
    %p A quick example of using an Arduino's analog sensor with Cylon. The program will log to the console when the sensor has hit it's upper and lower limits.
    :markdown 
      Before you run this program, make sure you have the `cylon-firmata` module installed.
    %p First, let's load up Cylon:
    :markdown
          :::javascript
          Cylon = require '../..'
    %p Now that we have Cylon imported, we can start defining our robots
    :markdown
          :::javascript
          Cylon.robot
    %p Let's define the connection to our Arduino:
    :markdown
          :::javascript
            connection:
              name: "arduino"
              adaptor: "firmata"
              port: "/dev/ttyACM0"
    %p Now we can define the analog sensor we're going to use, along with it's upper and lower limits:
    :markdown
          :::javascript
            device:
              name: 'sensor'
              driver: 'analogSensor'
              pin: 0
              upperLimit: 900
              lowerLimit: 100
    %p Now that Cylon knows about the necessary hardware we're going to be using, we'll tell it what work we want to do:
    :markdown
          :::javascript
             work: (my) ->
               my.sensor.on 'upperLimit', (val) ->
                 Logger.info "Upper limit reached: \#{val}"
               my.sensor.on 'lowerLimit', (val) ->
                 Logger.info "Lower limit reached: \#{val}"
    %p Now that our robot knows what work to do, and the work it will be doing that hardware with, we can start it:
    :markdown
          :::javascript
          .start()
    %h2 Examples
    %h3 JavaScript
    :markdown
          :::javascript
          var Cylon = require('cylon');

          Cylon.robot({
            connection: {name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'},

            device: {name: 'sensor', driver: 'analogSensor', pin: 0, lowerLimit: 100, upperLimit: 900},

            work: function(my) {
              my.sensor.on('lowerLimit', function() {
                Logger.info("Lower limit reached!");
              });
              my.sensor.on('upperLimit', function() {
                Logger.info("Upper limit reached!");
              });
            }
          }).start();

    %h3 CoffeeScript
    :markdown
          :::javascript
          Cylon = require 'cylon'

          Cylon.robot
            connection:
              name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0'

            device:
              name: 'sensor', driver: 'analogSensor', pin: 0, lowerLimit: 100, upperLimit: 900

            work: (my) ->
              my.sensor.on 'lowerLimit', -> Logger.info "Lower limit reached!"
              my.sensor.on 'upperLimit', -> Logger.info "Upper limit reached!"

          .start()

           