---
title: Multiple Spheros with Cylon.js
author: The Hybrid Group
page_title: Multiple Spheros
page_subtitle: "You can find the example here: <a href='https://github.com/hybridgroup/cylon/blob/literate/examples/sphero_multiple.litcoffee' target='blanck' class='repository'>litcoffee</a><br><a>JavaScript</a> | <a>CoffeeScript</a>"
layout: page
---

:javascript 
  $(document).ready(function(){
    $.getGithubFileByFilePath("hybridgroup", "cylon", "examples/analog_sensor.coffee", function(contentsLit) {
      $("#repoGithub ").append(contentsLit);
    });
    $.getGithubFileByFilePath("hybridgroup", "cylon", "examples/analog_sensor.coffee", function(contentsJS) {
      $("#repoGithub ").append(contentsJS);
    });
    $.getGithubFileByFilePath("hybridgroup", "cylon", "examples/analog_sensor.coffee", function(contentsCS) {
      $("#repoGithub ").append(contentsCS);
    });
  });


#repoLit

#repoJS

#repoCS
  







