.page-title
  background: #580A25
  padding: 25px 0
  margin: 10px 0 25px 0 
  .title
    font-family: "Montserrat", sans-serif
    font-weight: 700
    font-size: 33px
    color: #FAFAF1
    line-height: 28px
    width: 100%
    clear: both
    opacity: 0.94
    margin: 0
  .subtitle
    @include title-font(21px, #b39f89)
    font-weight: 550
    opacity: 0.94
    margin: 0
    line-height: 21px
    margin-top: 7px
  a
    @extend .anchors-blue
.repo 
  h1 
    a
      color: #971542 !important
.repo 
  li.titles 
    background: #971542 !important
    color: #fff
    text-shadow: 0 0px 0 #fff !important
